// @import "../../../assets/scss/global.scss";

.pc-checkbox-field {
    display: block;
    position: relative;


    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    label {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;
        padding-left: 24px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        // z-index: 1;
    }

    &.checkbox-center {
        .checkmark {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #8E9AAB;
        border-radius: 4px;
        transition: all .3s;

        &::after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &:hover input~.checkmark {
        border-color: #adadad;
    }

    & input:checked~.checkmark {
        background-color: #DC3A35;
        border-color: #DC3A35;
    }

    & input:checked~.checkmark:after {
        display: block;
    }

    & .checkmark::after {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 3px;
        height: 7px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
}