@import "@assets/scss/global.scss";

@import "@assets/scss/global.scss";

.product-content {
    background-color: #fff;
    padding: 16px;

    @include smallScreen {
        margin: 0 -16px;
    }

    .title {
        margin-bottom: 16px;

        h3 {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;

        }
    }
}