@import "@assets/scss/global";
.order {
    padding: 16px 0;
    background-color: #ffffff;
    margin-top: -16px;
    margin-bottom: -16px;
    @include smallScreen {
        padding-top: 24px;
    }
    .container {
        max-width: 1330px;
        padding: 0 15px;
        margin: 0 auto;
        @include smallScreen {
            padding: 0;
        }
    }
    .order-layout {
        width: 100%;
        max-width: 1088px;
        margin: auto;
        display: flex;
        @include smallScreen {
            flex-direction: column;
            position: relative;
        }
        &.secondary {
            padding-bottom: 136px;
        }
        .order-status {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 0px;
            padding-right: 17px;
            @include smallScreen {
                width: 100%;
                padding: 0 16px 16px;
            }
            &.primary {
                gap: 0px;
            }
            &.secondary {
                gap: 24px;
                @include smallScreen {
                    gap: 12px;
                    padding-bottom: 24px;
                }
            }
        }
        .order-info {
            padding-left: 17px;
            width: 50%;
            @include smallScreen {
                width: 100%;
                padding-left: 0;
                padding: 0 16px;
                background-color: #f5f6f7;
            }
            .order-wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                gap: 8px;
                background: #f5f6f7;
                height: 100%;
                .main {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 4px;
                    .order-title {
                        font-family: "Archivo";
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 0.0015em;
                        text-transform: uppercase;
                        color: #292929;
                        margin-bottom: 4px;
                        @include smallScreen {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                    .order-content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 6px;
                        .list-item {
                            width: 100%;
                            margin-bottom: 8px;
                            max-height: 327px;
                            overflow-y: scroll;

                            /* width */
                            &::-webkit-scrollbar {
                                width: 4px;
                            }

                            /* Track */

                            &::-webkit-scrollbar-track {
                                background: transparent;
                            }
                            &::-webkit-scrollbar-track:hover {
                                background: #fff;
                            }
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                background: #bfbfbf;
                                border-radius: 4px;
                            }

                            /* Handle on hover */
                            &::-webkit-scrollbar-thumb:hover {
                                background: #545454;
                            }
                            @include smallScreen {
                                max-height: unset;
                                overflow-y: unset;
                            }
                        }
                        .back {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            cursor: pointer;
                            span {
                                font-family: "Archivo";

                                font-weight: 400;
                                font-size: 14px;
                                line-height: 18px;

                                color: #545454;
                            }
                        }
                    }
                }
            }
            &.primary {
                .order-wrap {
                    padding: 20px 23px;
                    gap: 82px;
                    @include smallScreen {
                        padding: 12px 0 130px;
                    }
                    .main {
                        .order-content {
                            gap: 24px;
                        }
                    }
                }
            }
            &.secondary {
                .order-wrap {
                    padding: 16px;
                    height: max-content;
                    @include smallScreen {
                        padding: 12px 0;
                    }
                    .main {
                        .order-content {
                            gap: 6px;
                        }
                    }
                }
            }
        }
    }
}
